<article class="post" style="margin-top: 0;">
    <header>
        <% if (item.title){ %>
            <h1><%= item.title %></h1>
        <% } %>
        <h2 class="headline"><%= item.date.format('YYYY-MM-DD HH:mm') %>
        <% if (item.categories && item.categories.length){ %>
            <%
            var cats = [];
            item.categories.forEach(function(cat){
                cats.push('<a href="' + config.root + cat.path + '#' + cat.name + '">' + cat.name + '</a>');
            });
            %>
            <%- cats.join(', ') %>
        <% } %>
        </h2>
    </header>
</article>
<section id="post-body"><%- item.content %></section>
