<nav class="main-nav" style="text-align: left; max-width: 640px;padding: 45px 20px;">
	<a style="padding: 0;color: #333;font-size: 16px;font-weight: 500;" href="<%- config.root %>"><%= __(config.title) %></a>
</nav>