<nav id="post-nav">
    <!-- <span class="prev">
        <% if (page.prev){ %>
            <a href="<%- url_for(page.prev_link) %>">
                <span class="arrow">← </span><%= __('prev') %>
            </a>
        <% } %>
    </span> -->
    <span class="next">
        <% if (page.next){ %>
            <a href="./archives">所有文章<span class="arrow"> →</span>
            </a>
        <% } %>
    </span>
</nav>